
<div class="card card-profile">
  <div class="card-avatar">
    <a href="javascript:void(0)">
      <img class="img" [src]=roomUrl />
    </a>
  </div>
  <div class="card-body">
    <h6 class="card-category text-gray">{{roomCard.roomType}}</h6>
    <h4 class="card-title">{{roomCard.price|currency}}</h4>
    <p class="card-description">
      {{description}}
    </p>
    <a [routerLink]="['/book',roomCard.id]" class="btn btn-danger btn-round">Book</a>
  </div>
</div>

<!--<div class="col-md-4">-->
<!--  <div class="card card-profile">-->
<!--    <div class="card-avatar">-->
<!--      <a href="javascript:void(0)">-->
<!--        <img class="img" [src]=roomUrl />-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
<!--      <h4 class="card-title">Alec Thompson</h4>-->
<!--      <p class="card-description">-->
<!--        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
<!--      </p>-->
<!--      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>-->
<!--    </div>-->
<!--  </div>-->
<!--  -->
<!--</div>-->
