<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
              <li>
                <a href="https://github.com/pajarnas">
                   Shiqi Zhang
                </a>
              </li>
                <li>
                    <a href="https://github.com/pajarnas">
                        Github
                    </a>
                </li>
              <li>
                <a href="https://stackoverflow.com/users/7954998/">
                  Stack overflow
                </a>
              </li>
            </ul>
        </nav>
        <div class="copyright pull-right">


          Antra
        </div>
    </div>
</footer>
