<div class="main-content">
  <div class="container-fluid">
      <div class="row">


          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Book Room</h4>
                      <p class="card-category">Complete your form</p>
                  </div>

<!--                checkin: Date;
  totalPersons: number;
  bookingDays: number;
  advance: number;
  id: number;
  roomNo: number;
  cName: string;
  address: string;
  phone: string;
  email: string;
             -->


                  <div class="card-body">
                      <form (ngSubmit)="book()" >
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput  name="roomNo" value="{{roomCard.id}}" [(ngModel)]="bookRequest.roomNo" placeholder="Room Number {{roomCard.id}}" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Customer Name" name="cName" [(ngModel)]="bookRequest.cName">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email" name="email" [(ngModel)]="bookRequest.email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">

                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <span matPrefix>+1 &nbsp;</span>
                                  <input matInput placeholder="Phone" type="tel" name="phone" [(ngModel)]="bookRequest.phone">
                                </mat-form-field>
                              </div>

                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Total Persons" type="number" name="totalPersons" [(ngModel)]="bookRequest.totalPersons">
                                </mat-form-field>
                              </div>

                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Booking Days" type="number" name="bookingDays" [(ngModel)]="bookRequest.bookingDays">
                                </mat-form-field>
                              </div>





                          </div>

                        <div class="row">

                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput currencyMask placeholder="Deposit" name="advance" [(ngModel)]="bookRequest.advance"/>
                          </mat-form-field>
                        </div>

                            <div class="col-md-8">
                              <mat-form-field class="example-full-width">

                                <input matInput name="checkin" [matDatepicker]="picker" [(ngModel)]="bookRequest.checkin">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>

                        </div>


                        <div class="row">
                          <div class="col-md-8">
                            <mat-form-field class="example-full-width">
                              <textarea matInput name="address" placeholder="Address" [(ngModel)]="bookRequest.address">1600 Amphitheatre Pkwy</textarea>
                            </mat-form-field>
                          </div>


                        </div>







                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>

        <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" [src]=roomUrl />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{roomCard.roomType}}</h6>
            <h4 class="card-title">{{roomCard.price|currency}}</h4>
            <p class="card-description">
              {{description}}
            </p>

          </div>
        </div></div>





      </div>
  </div>
</div>

